<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Day 1</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</head>
<body>
    <div id="app1">
        <div ng-controller="ctrl1">
            <h1>Olá {{nome}}.</h1>
            <input type="text" ng-model="nome" placeholder="Enter name here!">
        </div>
    </div>
    <br>
    <br>
    <div id="app2">
        <div ng-controller="ctrl2">
            <h1>Contador</h1>
            <h2>{{contador}}</h2>
            <button ng-click="contador = contador + 1;">ADD</button>
            <button ng-click="contador = contador - 1;">SUB</button>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>