<div ng-controller="HomeController as vm" class="container" ng-init="vm.iniciar()">
    <h1>HOME</h1>
    <p>
        Bem-Vindo a
        <strong class="text-info">AutoLocadoraApp</strong>!
        O melhor App para alugar um automóvel.
    </p>

    <div class="mt-5"></div>

    <button type="button" class="btn btn-outline-primary float-right" ng-click="vm.go('/carro/cadastro')">Cadastrar
        carro</button>
    <h2>Nosso Catálogo</h2>
    <hr class="mt-1 bg-primary">

    <div class="card-deck">
        <!--row-->
        <div class="col-sm-4" ng-repeat="carro in vm.listaCarros track by $index">
            <div class="card mb-4 text-center">
                <!--style="width: 18rem;"-->
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">
                        {{carro.modelo}}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{carro.marca}}
                    </h6>
                    <p>
                        <strong>Ano: </strong> {{carro.ano}} &nbsp; | &nbsp;
                        <strong>Placa: </strong> {{carro.placa | placaComHifen}}
                    </p>
                    <span ng-if="!carro.disponivel" class="badge badge-pill badge-warning">Alugado</span>
                    <a ng-click="vm.alugarCarro(carro.placa)" ng-if="carro.disponivel"
                        class="btn btn-primary text-center">Alugar</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Paginação  -->
    <div class="text-center">
        <ul uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage" max-size="vm.maxSize" class="pagination-sm"
            boundary-links="true" force-ellipses="true" items-per-page="vm.itemsPerPage" last-text="{{vm.lastText}}" 
            first-text="{{vm.firstText}}" next-text="{{vm.nextText}}" previous-text="{{vm.previousText}}"
            ng-change="vm.pageChanged()">
        </ul>
    </div>

</div>