<div ng-controller="ClientesController as vm" class="container" ng-init="vm.getClientes()">
  <button type="button" class="btn btn-outline-primary" ng-click="vm.go('/cliente')">Novo cliente</button>

  <h2 class="mt-5">Clientes cadastrados</h2>
  <hr class="mt-1 bg-primary">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">E-mail</th>
        <th scope="col">Contato</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cliente in vm.clientes">
        <th scope="row">{{cliente.id}}</th>
        <th scope="row">{{cliente.nome}}</th>
        <td>{{cliente.cpf}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.contato}}</td>
        <td>
          <button type="button" class="btn btn-outline-primary" ng-click="vm.alugarCarro(cliente.id)">Alugar
            carro</button>
        </td>
        <td>
          <button type="button" class="btn btn-outline-primary" ng-click="vm.verHistorico(cliente.id)">Ver histórico</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>